.form {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: white;
    padding: 20px;
  }
  
  @media (max-width: 767px) {
    .form {
      grid-template-columns: 1fr;
    }
  }
  
  .form__input {
    border: 2px solid #ddd;
    padding: 10px;
  }
  
  .form__button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 15px;
    transition: 0.2s;
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .form__button {
      width: 100%;
      margin: 15px 0;
    }
  }
  
  .form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.2);
  }
  
  .form__button:active {
    background-color: hsl(180, 100%, 35%);
  }