.task {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task__item--hidden {
  display: none;
}

.task__taskContent {
  padding: 10px 0;
  word-break: break-all;
}

.task__taskContent--done {
  text-decoration: line-through;
}

.task__button {
  width: 30px;
  height: 30px;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background 0.5s;
}

.task__button--done {
  background-color: hsl(120, 100%, 25%);
}

.task__button--done:hover {
  background-color: hsl(120, 100%, 30%);
}

.task__button--done:active {
  background-color: hsl(120, 100%, 35%);
}

.task {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task__item--hidden {
  display: none;
}

.task__taskContent {
  padding: 10px 0;
  word-break: break-all;
}

.task__taskContent--done {
  text-decoration: line-through;
}

.task__button {
  width: 30px;
  height: 30px;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background 0.5s;
}

.task__button--done {
  background-color: hsl(120, 100%, 25%);
}

.task__button--done:hover {
  background-color: hsl(120, 100%, 30%);
}

.task__button--done:active {
  background-color: hsl(120, 100%, 35%);
}

.task__button--remove {
  background-color: hsl(349, 86%, 50%);
}

.task__button--remove:hover {
  background-color: hsl(349, 86%, 55%);
}

.task__button--remove:active {
  background-color: hsl(349, 86%, 60%);
}

.task__button--remove {
  background-color: hsl(349, 86%, 50%);
}

.task__button--remove:hover {
  background-color: hsl(349, 86%, 55%);
}

.task__button--remove:active {
  background-color: hsl(349, 86%, 60%);
}