.section__buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section__button {
    background-color: transparent;
    color: teal;
    border: none;
    margin: 0 0 0 20px;
    transition: color 0.5s;
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .section__button {
      flex-basis: 100%;
      margin: 10px;
    }
  }
  
  .section__button:hover {
    color: hsl(180, 100%, 30%);
  }
  
  .section__button:active {
    color: hsl(180, 100%, 35%);
  }
  
  .section__button:disabled {
    color: #ccc;
  }
  